body {
  font-size: 14px;
}
.inputClima {
  padding: 1% 3%;
  border-radius: 100px;
  text-align: center;
}

ul {
  list-style-type: none;
}

span{
  font-weight: bold;
}

.container-whet {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color: rgba(238, 238, 238, 0.35);
  align-items: center;
}

.container-form {
  background-color: #eee;
  display: flex;
  justify-content: center;
}
h2 {
  font-size: 14px;
}

.form {
  width: 100%;
}

.imgSearch {
  width: 20px;
}
.btn-seach {
  height: 50%;
  background-color: rgba(0, 0, 0, 0.06);
  border: none;
  border-radius: 10px;
}

.result-city {
  font-weight: 100;
}

.container-clima-2 {
  text-align: center;
}

.tempWeather {
  justify-content: center;
}

h3 {
  font-weight: bold;
}

.summaryHourly {
  font-size: 30px;
  font-weight: 100;
}
